OnlineImageLibrary.WebUI/Media/Images/*.jpg
OnlineImageLibrary.WebUI/OnlineImageLibrary.WebUI.csproj.user
OnlineImageLibrary.WebUI/Web.config
OnlineImageLibrary.WebUI/obj*
OnlineImageLibrary.Domain/obj*
OnlineImageLibrary.suo
